

@import "../css/global-variables";

.app-banner {
	position: relative;
	margin-top: -20px;
}

img {
	position: relative;
	display: block;
	margin: 0px auto;
	text-align: center;
}

.dark-theme h1, h2, h3, 
.light-theme h1,h2,h3 {
	position: absolute;
	text-align: center;
	width:100%;
}

.dark-theme h1, h2, h3{
	color: @white;
}

.light-theme h1 { 
	font-size: 1.375rem;
	line-height: 1.5;
	top: 64px;
	color: @primary-red;
}

.light-theme h2 { 
	font-size: 1rem;
	line-height: 2.25;
	top: 48px;
	color: @default-gray;
}

.light-theme h3 { 
	font-size:0.875rem;
	line-height: 1.5;
	top: 86px;
	color: @default-gray;
}


